@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,700;1,600&display=swap');

 /* ==== ESTILO GERAL ==== */
/* Titulo da secão  */
.title {
    text-align: center;
    padding: 2.5rem 0;
}

.title  span{
    color: var(--azul);
    background: rgba(0, 140, 255, 0.3);
    font-size: 3.5rem;
    border-radius: .5rem;
    display: inline-block;
    padding: .2rem 1rem;
    text-transform: uppercase;
}
.title  span .spce {
    background: none;
}
 
/*criar variável*/
:root{
    --laranja:#ffa500;
    --azul:#2D56B2;
}   
*{
    font-family: 'Nunito', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none ;
    transition: all .2s linear;
}
*::selection{
    background-color: var(--azul);
    color: #fff;
}

/*tamanho da fonte para toda pagina . para mudar depois do media Query */
html{
    font-size: 62.5%;
    overflow-x:hidden ;
    scroll-padding-top:6rem ;
    scroll-behavior: smooth;
}

/*mesmo btn para toda papgina */
.btn{ 
    background: var(--laranja);
    display: inline-block;
    margin-top: 1rem;
    color: #fff;
    padding: .8rem 3rem;
    border: .2rem solid var(--laranja);
    font-size: 1.5rem;
    cursor: pointer;
}
.btn:hover{
    background: rgb(255, 165, 0,.2);
    color: var(--laranja);
}

/* estilo do header */
header{
    background: #333;
    position: fixed;
    top: 0; left: 0; right: 0;
    display: flex;
    align-items: center;
    justify-content:  space-between;/*separar os itens */
    z-index: 100; /* 1pra sempre ficar na camada da frente */
    padding: 2rem 9%;
}

header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: #fff;
}

header .logo span{
    color: var(--laranja);
}

header .navbar{}

header .navbar a{
    color: #fff;
    font-size: 2rem;
    margin:0 .8rem ;
}

header .navbar a:hover{
    color: var(--laranja);
}

header .icons{}

header .icons i {
    font-size: 2.5rem ;
    color: #fff;
    cursor: pointer;
    margin-right: 2rem;
}

header .icons i:hover{
    color: var( --laranja);
}

header .search-bar-container{
    background: #333;
    position: absolute;
    top: 100%; left: 0; right: 0;
    padding: 1.5rem 2rem;
    border-top: .1rem solid rgba(252, 252, 252, 0.192);
    z-index: 5;/*lembrando que o outro foi 1*/
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); /*  no developer.mozilla, vc consegui configurar e ver qual e melhor para fazer subir ou aparecer  etc*/
    display: flex;
    align-items: center;
}
header .search-bar-container.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
}


header .search-bar-container #search-bar{
    width: 100%;
    padding: 1rem; /*lembrando cada 1rem <== 16px se nao em engano */
    text-transform: none;
    color: #333;
    border-radius: .5rem;
    font-size: 1.7rem;
}

header .search-bar-container label {
    color:#fff;
    cursor: pointer;
    font-size: 3rem;
    margin-left: 1.5rem;
    
}

header .search-bar-container label:hover{
    color: var(--laranja);
}
/* ==== estilo do login ==== */

.login-form-container{
    background: rgba(49, 48, 48, 0.849);
    position: fixed;
    top: 120%; left: 0; /*voce deixou aqui em top0: para ve , depois mudou p/120%:  usar JS*/
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;/* mudar se for precisso 1*/
}
small {
    margin: auto;
    font-size: 1.5rem;
    color: rgb(204, 7, 7);
    font-weight: 600;
 }

.login-form-container.active{
    top: 0;
}

.login-form-container form{
    background: #fff;
    margin: 2rem;
    padding: 1.5rem 2rem;
    width: 50rem;
}

.login-form-container form h3{
    font-size: 3rem;
    text-transform: unset;
    color: #444;
    text-align: center;
}

.login-form-container form .box{
    width: 100%;
    padding: 1.7rem;
    margin: .5rem 0;
    color: #333;
    border: .1rem solid rgb(0, 0, 0, .2);
    text-transform: none;
}

.login-form-container form .box:focus{
    border-color: var(--laranja);
}

.login-form-container form #remember {
    margin: 2rem 0;
}

.login-form-container form label {
    font-size: 1.5rem;
}

.login-form-container form .btn{
    display: block;
    width: 100%;
}

.login-form-container form p{
    padding: .5rem 0;
    font-size:1.5rem ;
    color: #666;
}
.login-form-container form p a{
    color: var(--laranja);
    
}

.login-form-container form p a:hover{
    color: #333;
    text-decoration: underline;
}

.login-form-container #form-close{
    position: absolute;
    top: 2rem; right: 3rem;
    font-size: 3rem ;
    color: #fff;
    cursor: pointer;
}

#menu-bar{
    color: #fff;
    border: .1rem solid #fff;
    border-radius: .5rem;
    font-size: 3rem;
    padding: .5rem .8rem;
    cursor: pointer;
    display: none;
}

 /* Estilo Home  */

 .home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    flex-flow: column; /*abreviação direction e wrap*/

 }

.home .content{
text-align: center;
}
.home .content h3{
    font-size: 4.5rem;
    text-transform: uppercase;
    text-shadow: 0 .3rem .5rem rgb(0, 0, 0,.2) ;
    color: #fff;

}
.home .content p{
    font-size: 1.5rem;
    text-transform: uppercase;
    text-shadow: 0 .3rem .5rem rgb(0, 0, 0,.2) ;
    color: #fff;
}
.home .content p span{
    text-decoration: underline;
    
}

.home .video-container video {
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1; /* pos videos ficarem atrás header e home */
    
}

.home .controls{
    background: rgba(0, 0, 0, 0.7);
    padding: 1rem;
    position: relative;
    top: 10rem;
    border-radius: 5rem;
}
.home .controls .vid-btn{
    width: 2rem;
    height: 2rem;
    display: inline-block;
    border-radius: 50%;
    background: #FFF;
    margin: 0 .5rem;
    cursor: pointer;    
}

.home .controls .vid-btn.active {
    background: var(--azul);

}

/*-- ==== Estilo do Book Now ==== --*/
span .space{
    background:none;
}

.book .row { /*dvi maior pega as duas parte */
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.book .row .image{
    flex: 1 1 40rem; /*poderia ter usado width 40% */
    text-align: center;
}

.book .row image img{
    width: 100%;
}

.book .row form{
    flex: 1 1 40rem;
    padding: 2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
}

.book .row form .inputBox{
    padding: .5rem 0;
}

.book .row form .inputBox input{
    width: 100%;
    color: #333;
    border: 1rem solid rgba(0, 0, 0, .1);
    font-size: 1.7rem;
    padding: 1rem;
    text-transform: none;
}

.book .row form .inputBox h3{
    font-size: 2rem;
    color: #222;
    padding: 1rem 0;
}

/* ==== Estilo do Packges Pacotes ====  */

.packages .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0 2rem

}

.packages .box-container .box{
    flex: 1 1 40rem;  
    border-radius: .5rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.158) ;
    overflow: hidden;
    
}

.packages .box-container .box img{
    width: 100%;
    object-fit: cover;
    height: 25rem;
    transition: .7s linear;
    cursor: pointer;
}
.packages .box-container .box img:hover{
   transform: scale(.9);
}

.packages .box-container .content{
    padding: 2rem;  
}

.packages .box-container .content h3{
    font-size: 2rem;
    color: #333;
}

.packages .box-container .content h3 i{
    color: var(--laranja);
    margin-right: .5rem;
    padding: 0 1.5rem ;
}

.packages .box-container .content p{
    color: #666 ;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.packages .box-container .content .stars i{
    color: var(--laranja);
    font-size: 1.5rem;
    padding: 0 .5rem ;
}

.packages .box-container .content .price{
    font-size: 2rem;
    color: #333;
    padding-top: 1rem;
}

.packages .box-container .content .price span{
    font-size: 1.5rem;
    color: #666;
    text-decoration: line-through; /*linha de corte */
}

/* ==== Estilo dos Serviços ==== */

.services .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.services .box-container .box{
    flex: 1 1 30rem;
    padding: 2rem;
    text-align: center;
    border-radius: .5rem;
}

.services .box-container .box:hover{
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.services .box-container .box i{
    padding: 1rem ;
    font-size: 5rem;
    color: var(--laranja);
}

.services .box-container h3{
    font-size: 2.5rem;
    color: #333;
}

.services .box-container p{
    font-size: 1.7rem;
    color: #666;
    padding: 1rem 0;
}

/* ==== Estilo da galeria ==== */

.gallery .box-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 0 2rem
}

.gallery .box-container .box{
    overflow: hidden;
    border: 1rem solid #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    border-radius: .5rem;
    height:25rem; /*opcional */
    position:relative /*por causa do Content*/    
}

.gallery .box-container .box img{
    width:  100%;
    height: 100%;
    object-fit: cover;
    border-radius: .3rem;
}

.gallery .box-container .box .content{
    position: absolute;
    top: -105; left: 0; /*mudar depois pra -100% para sumir */
    width: 100%;
    height: 100%;
    text-align: center;
    align-self: center;
    padding: 2rem;
    padding-top: 5rem; /*pra deixa no meio, mas facil */
    background: rgba(0, 0, 0, .5);
}

.gallery .box-container .box:hover .content{ /*colocar hover no content*/
    top: -0;
}

.gallery .box-container h3{
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--laranja);
}

.gallery .box-container p{
    font-size: 1.5rem;
    color: #fff;
    padding: .5rem 0;
}

/* ==== Stilo slide Review ==== */

.review .container-slider{
     padding-bottom: 2rem;
     overflow: hidden;
}

.review .wrapper{}

.review .slider{}

.review .box{
    text-align: center;
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.review .box img{
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    object-fit: cover;
}

.review .box  h3{
    color: #333;
    font-size: 2.5rem;
}

.review .box  p{
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.review .box .stars i{
    color: var(--laranja) ;
    font-size: 1.7rem;
}

/* ===== Stilo Contato =======  */

.contact .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    padding: 0 2rem
}

.contact .row .image {
    flex: 1 1 35rem;
}

.contact .row .image img{
    width: 100%;
}

.contact .row form {
    flex: 1 1 50rem;
    padding: 2rem;
    box-shadow:  0 1rem 2rem rgb(0, 0, 0, .2);
    border-radius: .5rem;
}

.contact .row form .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content:  space-between;
}

.contact .row form .inputBox input, .contact .row form textarea {
    width: 48%;
    margin: 1rem 0;
    padding: 1rem;
    font-size: 1.5rem;
    color: #333;
    background: #e7e7e7;
    text-decoration: none;
}

.contact .row form textarea{
    height: 15rem;
    width: 100%;
    resize: none;
}

/* ==== Stilo Brand ===== */
.brand-container{
    text-align: center;
    overflow: hidden;
}

.brand-container #brand-logo{
  cursor: pointer;
   
}

/* ===== Stilo footer ======= */
.footer{
    background: #333;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0 2rem
}

.footer .box-container .box{
    padding: 1rem 0;
    flex: 1 1 25rem ;
}

.footer .box-container .box h3{
    font-size:  2rem;
    padding: .7rem 0;
    color:#fff;
}

.footer .box-container .box p{
    font-size: 1.5rem;
    padding: .7rem 0;
    color: #fff
}
.footer .box-container .box p span{
     color: var(--laranja)
}

.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    padding: .7rem 0;
    color: #eee
}

.footer .box-container .box a:hover{
    color: var(--laranja);
    text-decoration: underline;
}
.footer .box-container .box a:hover i{
    color: var(--cor);
    
}


.footer .box-container .box i{
    padding:0 1rem;
    font-size: 2.8rem;

}


.footer .End{
    text-align: center;
    padding-top:1rem;
    font-size: 1.5rem;
    font-weight: normal;
    color: #fff;
    border-top: .1rem solid rgba(102, 102, 102, 0.418);
}

.footer .End span ,.credits span{
    color: var(--laranja);
}

.footer .credits{
    font-size: 1.4rem;
    color: rgb(209, 209, 209);
    padding-bottom:1rem ;
    padding-left: .7rem;
}




@media (max-width:1200px){

    html{
        font-size:55%;
    }
}

@media (max-width:965px){

    
    header{ 
        padding: 2rem; /* para deixa os elementos mais pro canto */
    }
    section{ 
        padding: 2rem; 
    }
   


}
@media (max-width:780px){
    #menu-bar{
        display: initial;
    }

    header .navbar{
        height: 100vh;
        position: absolute;
        top: 100%; right: 0; left: 0;
        border-top:  .1rem solid rgba(121, 121, 121, 0.651);
        background-color: rgba(51, 51, 51, 0.836);
        padding: 1rem 2rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);/*efeito de desce, ferramenta de recorte podia ter usado top 100%*/ 
    }
    
    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a{
        display: block;
        margin: 1.5rem;
        padding: 1.5rem 0;
        background: #222;
        border-radius: .5rem;
        text-align: center;   
             
    }   
 
    header .navbar a:hover{
        background: #333;
    }

    .gallery .box-container{        
        grid-template-columns: repeat(2, 1fr);        
    }

}

@media (max-width:500px){
    html{
        font-size:50%;  
        
    }
 
    .gallery .box-container{        
        grid-template-columns: 1fr;        
    }
 
    .book .row .image img{
        width: 80%;/*poderia ter usado width 40% */
    }
 
    .contact .row form .inputBox input{
        width: 100%;
    }
 
    .footer .box-container{
        display: grid;
        grid-template-columns: 1fr 1fr ;

    }
    
}
